pkgbase = python-pydantic
	pkgdesc = Data parsing and validation using Python type hints
	pkgver = 2.5.1
	pkgrel = 1
	url = https://github.com/pydantic/pydantic
	arch = any
	license = MIT
	checkdepends = python-ansi2html
	checkdepends = python-cloudpickle
	checkdepends = python-devtools
	checkdepends = python-dirty-equals
	checkdepends = python-email-validator
	checkdepends = python-faker
	checkdepends = python-hypothesis
	checkdepends = python-pygments
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-sqlalchemy
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-importlib-metadata
	makedepends = python-hatchling
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-wheel
	depends = python
	depends = python-annotated-types
	depends = python-pydantic-core
	depends = python-typing-extensions
	optdepends = mypy: for type validation with mypy
	optdepends = python-dotenv: for .env file support
	optdepends = python-email-validator: for email validation
	optdepends = python-hypothesis: for hypothesis plugin when using legacy v1
	source = https://github.com/pydantic/pydantic/archive/v2.5.1/pydantic-v2.5.1.tar.gz
	sha512sums = 7260d6496f2de69434c79eb36109e040b1307c53a15cf4c669fdeb4b3cded6c8b89cd449f24e6504b67e86641702664378801ad0ef631dcea858cdfaa529033b
	b2sums = aafa69c00f3d5d099fd9e7e6602eee225d4efd14e99d0c59be51f0755aa3406fb56a91b13285c28e218e2149f5b1f888ee4c1613673c3f03d4b3d13dd200e713

pkgname = python-pydantic
