pkgbase = python-pydantic
	pkgdesc = Data parsing and validation using Python type hints
	pkgver = 2.4.2
	pkgrel = 1
	url = https://github.com/pydantic/pydantic
	arch = any
	license = MIT
	checkdepends = python-ansi2html
	checkdepends = python-devtools
	checkdepends = python-dirty-equals
	checkdepends = python-email-validator
	checkdepends = python-faker
	checkdepends = python-hypothesis
	checkdepends = python-pygments
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-sqlalchemy
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-importlib-metadata
	makedepends = python-hatchling
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-wheel
	depends = python
	depends = python-annotated-types
	depends = python-pydantic-core
	depends = python-typing-extensions
	optdepends = mypy: for type validation with mypy
	optdepends = python-dotenv: for .env file support
	optdepends = python-email-validator: for email validation
	optdepends = python-hypothesis: for hypothesis plugin when using legacy v1
	source = https://github.com/pydantic/pydantic/archive/v2.4.2/pydantic-v2.4.2.tar.gz
	sha512sums = f15249ce941a801bdc3bcee28c422023cc2a05e3d73cda7cc401e1197cc90a75d1893e2f6b5290b76131c5205c160f673fb02a96552dc0c3680f93736699f6af
	b2sums = a82c09e53c2ae4ebf99564435765512e6b709f756acd75079882b57e864c327d7fe5ffd3244b57d23985f7965b840ce9011012171c346ae32a2c1a312bf1dc13

pkgname = python-pydantic
