pkgbase = python-pydantic
	pkgdesc = Data parsing and validation using Python type hints
	pkgver = 2.5.3
	pkgrel = 1
	url = https://github.com/pydantic/pydantic
	arch = any
	license = MIT
	checkdepends = python-ansi2html
	checkdepends = python-cloudpickle
	checkdepends = python-devtools
	checkdepends = python-dirty-equals
	checkdepends = python-email-validator
	checkdepends = python-faker
	checkdepends = python-hypothesis
	checkdepends = python-pygments
	checkdepends = python-pytest
	checkdepends = python-pytest-benchmark
	checkdepends = python-pytest-examples
	checkdepends = python-pytest-mock
	checkdepends = python-sqlalchemy
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-importlib-metadata
	makedepends = python-hatchling
	makedepends = python-hatch-fancy-pypi-readme
	makedepends = python-wheel
	depends = python
	depends = python-annotated-types
	depends = python-pydantic-core
	depends = python-typing-extensions
	optdepends = mypy: for type validation with mypy
	optdepends = python-dotenv: for .env file support
	optdepends = python-email-validator: for email validation
	optdepends = python-hypothesis: for hypothesis plugin when using legacy v1
	source = https://github.com/pydantic/pydantic/archive/v2.5.3/pydantic-v2.5.3.tar.gz
	sha512sums = 6c920e4ccbb4212e298731f9947dd9af4b7f44006a17c75f8084674e719108dd4e23e36bf9e3d948e4acb4db7f279c78ee6d769796abf0e4cc1f9c320d2f40db
	b2sums = 20d990bfabbee242212c77b9270c091c202819a9a973afce06024078fc502dc2967194b812884a5941adcf91f2e7ea5b5e0d33142af958be6dbe8da10cfa4131

pkgname = python-pydantic
